$font-family: "Trebuchet MS" ;
$lighter-blue: #112438;
$darker-blue: #081D34;

*
{
    font-family: $font-family;
}
@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}
  
  

body {
    background-color: $lighter-blue;
}
.outerdiv {
    background-color: $darker-blue;
    width:100%;
    height:100vh;
    overflow-y:hidden;
    color:white;
}
ul {
    list-style-type:none;
    text-align:center;
    padding-right:30%; 
    font-family: $font-family;
}
li {
    margin-bottom:20%;
}
.material-symbols-outlined{
    font-size:72px;
}
.dividers
{
    border-bottom:10px solid white;
    width:50%;
    margin-bottom:10%;
    margin-left:20%;
    border-radius:50px;
}
#addfriend
{
    margin-left:10px;
}
#logout
{
    margin-left:10px;
}
.sidebarlabel
{
    margin:0;
    font-family: $font-family;
}

.sidebarcontainer:hover
{
    font-weight:bolder;
    cursor:pointer;
}
.sidebarcontainerclicked:hover
{
    cursor:pointer;
    font-weight:bolder;
}

.sidebarcontainerclicked
{
    border-right: 10px solid white;
    border-radius:10px;
    animation-name:slideIn;
    animation-duration:.5s;
}
.appcontainer{
    display:flex;
}
.sidebarparentcontainer 
{
    width:15%;
}
.messagesparentcontainer
{
    color:white;
    width:25%;
    border-left:1px solid black;
    border-right: 1px solid black;
}
.messagelistcontainer
{
    background-color: $lighter-blue;
    height:25vh;
    padding-top:5%;
    
}
.messagelistcontainer h1
{
    font-weight:normal;
    text-align:left;
    margin-left:7%;
    font-size:50px;
}
.searchbar, .searchbar::placeholder
{
    background-color:$darker-blue;
    color:grey;
    border-radius:5px;
    padding-top:4%;
    border:none;
    padding-bottom:4%;
    padding-left:5%;
    text-align:left;
    padding-right:40%;
    margin-left:7%;
    margin-bottom:2%;
}
.contactlistcontainer
{
    position:relative;
    background-color:$darker-blue;
    height:72.5vh;
    font-weight:bold;
}
.topportion
{
    display:flex;
}
.time
{   
    position: absolute;
    right:5%;
}
.message
{
    position:absolute;
    left:20px;
    top:40px;
    margin-left:20%;
    padding-bottom:5%;
    white-space:nowrap;
}
.sender
{
    position:absolute;
    left:110px;
    word-break:keep-all;
    flex-wrap: nowrap;
    white-space:nowrap;
}
.messagebox 
{
    border:1px solid black;
    display:flex;
}
.image
{
    border: 5px solid white;
    width:80px; 
    height:80px;
    border-radius:50px;
}
.content
{
    display:block;
}
.bottomportion
{
    position:relative;
}
.messagesparentcontainer
{
    animation: fadeIn 1.2s
}
.buttoncontainer
{
    margin-top:15%;
    text-align:center;

}
.loginform
{
    padding-top:5%;
    background-color:$darker-blue;
    width:100vh;
    height:65vh;
    border:black solid 1px;
}
.username, .password
{
    padding-left:2%;
    padding-right:2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 25px;
    display:block;
    background-color:$lighter-blue;
    color:white;
    border:none;
    margin-bottom:2%;
    margin:auto;
    border: 1px solid white;
    font-family: $font-family;
}
.usernamelabel, .passwordlabel
{
    color:white;
    display: block;
    text-align: center;
    line-height: 150%;
    margin-bottom:2%;
}
.passwordlabel
{
    margin-top:5%;
}
.formcontainer
{
    width:fit-content;
    margin:auto;
    margin-top:-10%;
}
.signupbutton, .signinbutton
{
    padding-left:2.5%;
    padding-right:2.5%;
    padding-bottom:2.5%;
    padding-top:2.5%;
    background-color:$lighter-blue;
    color:white;
    border:0;
    
}
.signinwithgoogle
{
    padding-left:5%;
    padding-right:5%;
    padding-top:2.5%;
    padding-bottom:2.5%;
    background-color:$lighter-blue;
    color:white;
    border:none;
}
.googlebuttoncontainer
{
    text-align:center;
    margin-bottom:5%;
}
.logintitle
{
    color:white;
    margin-bottom:0;
    text-align:center;
}
.signinbuttoncontainer, .signupbuttoncontainer
{
    text-align:center;
    margin-top:2.5%;
}